@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #eeeeee;
    --foreground: #304d30;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: #dddddd;
    --popover-foreground: #304d30;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: #304d30;
    --input: #b6c4b6;

    --primary: #304d30;
    --primary-foreground: #b6c4b6;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: #304d30;
    --accent-foreground: #dddddd;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 14px;

    --actions: #dddddd;
    --actions-foreground: #dddddd;
  }

  .dark {
    --background: #040d12;
    --foreground: #008170;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: #040d12;
    --popover-foreground: #008170;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: #008170;
    --input: #93b1a6;

    --primary: #008170;
    --primary-foreground: #93b1a6;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: #008170;
    --accent-foreground: #040d12;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;

    --actions: #040d12;
    --actions-foreground: #183d3d;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
