@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #dedede;
    --foreground: #292524;

    --muted: #292524;
    --muted-foreground: #292524;

    --popover: #d8d8d8;
    --popover-foreground: #292524;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: #b7b78a;
    --input: #292524;

    --primary: #658764;
    --primary-foreground: #dedede;

    --secondary: #b7b78a;
    --secondary-foreground: #292524;

    --accent: #bb6b25;
    --accent-foreground: #dedede;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --radius: 12px;

    --actions: #d8d8d8;
    --actions-foreground: #bb6b25;
  }

  .dark {
    --background: #151515;
    --foreground: #eeeeee;

    --muted: #eeeeee;
    --muted-foreground: #eeeeee;

    --popover: #1a1a1a;
    --popover-foreground: #eeeeee;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: #5d0e41;
    --input: #eeeeee;

    --primary: #a0153e;
    --primary-foreground: #eeeeee;

    --secondary: #5d0e41;
    --secondary-foreground: #eeeeee;

    --accent: #ff6347;
    --accent-foreground: #151515;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;

    --actions: #151515;
    --actions-foreground: #ff6347;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
